body{
    background-image: url("./clouds.jpg");
    height: 100%;
}

.header {
    background: mintcream;
    color: darkblue;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}

.forcast {
    position: relative;
    left: 10px;
    padding: 30px;
    background: mintcream;
    margin-left: 15px;
    margin-top: 10px;
    text-align: center;
    border: darkgray;
    border-width: 2px;
    border-style: solid;
}

.searchBox {
    position: relative;
    left: 10px;
    height: 500px;
    background: seashell;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    border: darkgray;
    border-width: 2px;
    border-style: solid;
    
}

.today {
    position: relative;
    left: 10px;
    background: seashell; 
    padding: 15px;
    margin: 2px;
    text-align: left;
    border: darkgray;
    border-width: 2px;
    border-style: solid;
}
